@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 100vh; }
  .main__top {
    height: 50%;
    width: 100%;
    background-color: #F7E2D6; }
  .main__bottom {
    height: 50%;
    width: 100%;
    background-color: #9DD6DF; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background-color: #F9F2ED;
  padding: 2rem 4rem;
  width: 40%;
  border-radius: 3px;
  transition: all .8s; }
  .nav__link {
    text-decoration: none;
    color: #343a40;
    font-size: 1.6rem;
    transition: all .4s; }
    .nav__link:not(:last-child) {
      margin-right: 1.5rem; }
    .nav__link--hidden {
      position: inherit;
      left: 0;
      display: none; }
  .nav--hidden {
    width: 5rem;
    padding: 2rem .5rem; }

.btn {
  margin-left: auto;
  height: 3rem;
  width: 4rem;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer; }
  .btn-icon {
    height: 2px; }
    .btn-icon, .btn-icon::before, .btn-icon::after {
      content: '';
      position: absolute;
      width: 3rem;
      background-color: #343a40;
      left: .5rem; }
    .btn-icon::before {
      height: 1.5px;
      top: -1rem;
      left: 0; }
    .btn-icon::after {
      height: 1.5px;
      top: 1rem;
      left: 0; }
  .btn--hidden {
    width: 5rem; }
