@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  height: 100vh; }
  .main__top {
    height: 50%;
    width: 100%;
    background-color: #F7E2D6; }
  .main__bottom {
    height: 50%;
    width: 100%;
    background-color: #9DD6DF; }

.nav {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #F9F2ED;
  z-index: 2;
  width: 45%;
  height: 8rem;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  transition: all 1s;
  overflow: hidden; }
  .nav__item {
    list-style: none;
    display: inline-block; }
    .nav__item:not(:last-child) {
      margin-right: 1rem; }
  .nav__link, .nav__link:link, .nav__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #343a40;
    letter-spacing: 1px; }
  .nav__link--hidden {
    position: absolute;
    display: block;
    top: 40%; }
  .nav--hidden {
    width: 5%;
    height: 6rem;
    padding: 0; }

.btn {
  margin-left: auto;
  border: none;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
  transition: all .4s; }
  .btn-icon {
    position: relative;
    top: .8rem;
    height: 2px; }
    .btn-icon, .btn-icon::before, .btn-icon::after {
      width: 3rem;
      background-color: #343a40;
      display: inline-block; }
    .btn-icon::before, .btn-icon::after {
      content: '';
      position: absolute;
      left: 0;
      height: 1.5px; }
    .btn-icon::before {
      top: -.9rem;
      height: 2px; }
    .btn-icon::after {
      top: .9rem; }
  .btn--hidden {
    margin: 0 auto; }

.hidden {
  display: none;
  position: absolute;
  left: 0; }
