@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to bottom, #F7E2D6 0%, #F7E2D6 50%, #9DD6DF 50%, #9DD6DF 100%); }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.nav {
  display: flex;
  align-items: center;
  width: 5rem;
  background-color: #F9F2ED;
  padding: 3rem;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); }
  .nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 0; }
    .nav ul li {
      opacity: 0;
      transform: rotateY(0);
      transition: all .6s;
      width: auto; }
      .nav ul li a {
        text-decoration: none;
        font-size: 1.6rem;
        color: #343a40; }
  .nav--active {
    width: 50rem; }
    .nav--active ul {
      margin-right: 12rem;
      width: 100%; }
      .nav--active ul li {
        opacity: 1;
        display: hidden;
        margin-right: 2rem;
        transform: rotateY(360deg); }
  .nav .btn {
    width: 100%;
    height: 3rem;
    border: none;
    position: relative;
    background-color: transparent;
    cursor: pointer; }
    .nav .btn-icon, .nav .btn-icon::before, .nav .btn-icon::after {
      width: 3rem;
      height: 2px;
      position: absolute;
      background-color: #343a40;
      left: 0;
      content: ''; }
    .nav .btn-icon::before {
      top: -1rem; }
    .nav .btn-icon::after {
      top: 1rem; }
