@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
$color-green-1:#9DD6DF;
$color-light-1: #F7E2D6;
$color-light-2: #F9F2ED;
$color-dark-1: #343a40;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;

}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, $color-light-1 0%, $color-light-1 50%, $color-green-1 50%, $color-green-1 100%);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 100vh;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:$color-light-2;
    padding: 2rem 4rem;
    width: 40%;
    border-radius: 3px;
    transform: rotateY(0);
    transition: all .8s;


    &__link{
        text-decoration: none;
        color: $color-dark-1;
        font-size: 1.6rem;
        transition: all .8s;

        &:not(:last-child){
            margin-right: 1.5rem;
        } 
        
        &--active{
            position: inherit;
            left: 0;
            opacity: 0;
            transform: rotateY(360deg);
        }
    }

    &--active{
       width: 5rem;
       padding: 2rem .5rem;

       .btn-icon{
            width: 0;
            &::before{
                top:0;
                left:.5rem;
                transform: rotate(-765deg);
            }

            &::after{
                top:0;
                left:.5rem;
                transform: rotate(765deg); 
                
            }
       }

    }
}

.btn{
    height: 3rem;
    width: 4rem;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;


    &-icon{
        height: 2px;
        transition: transform .9s display .2s;

        &,
        &::before,
        &::after{
            content: '';
            position: absolute;            
            width: 3rem;
            background-color: $color-dark-1;
            left: .5rem;
            
        }
        &::before{
            height: 1.5px;
            top: -1rem;
            left: 0;
            
        }

        &::after{
            height: 1.5px;
            top: 1rem;
            left: 0;
         
        }   
    }

    &--active{
        position: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20rem;
        width: 3rem;
    }

}
