@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
$color-green-1:#9DD6DF;
$color-light-1: #F7E2D6;
$color-light-2: #F9F2ED;
$color-dark-1: #343a40;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;

}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, $color-light-1 0%, $color-light-1 50%, $color-green-1 50%, $color-green-1 100%);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav{
    display: flex;
    align-items: center;
    width: 5rem;
    background-color: $color-light-2;
    padding: 1rem;
    
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: .4);
    transition: all .6s;

    ul{
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 0;

        li {
            opacity: 0;
            transform: rotateY(0);
            transition: all .6s;
            width: auto;

            a{
                text-decoration: none;
                font-size: 1.6rem;
                color: $color-dark-1;
            }
            
        }
        
    }

    &--active{
        width: 50rem;
        padding: 3rem;

        ul {
            margin-right: 12rem;
            width: 100%;


            li{
                opacity: 1;
                display: hidden;
                margin-right: 2rem;
                transform: rotateY(360deg);
            
            }
        }

        .btn{           
            width: 5rem;
            padding: 2rem .5rem;
            display: block;

     
            .btn-icon{
                display: block;
                width: 0;

                 &::before{
                     top:0;
                     left:.5rem;
                     transform: rotate(-765deg);
                 }
     
                 &::after{
                     top:0;
                     left:.5rem;
                     transform: rotate(765deg); 
                     
                 }
            }
        }

    }

    .btn{
        width: 100%;
        height: 3rem;
        border: none;
        position: relative;
        background-color: transparent;
        cursor: pointer;
        transition: all .6s;


        &-icon{

            &,
            &::before,
            &::after{
                width: 3rem;
                height: 2px;
                position: absolute;
                background-color: $color-dark-1;
                left: 0;
                content: '';
                transform: rotate(0);
                display: inline-block;
                transition: transform .6s cubic-bezier(0.83, 0, 0.17, 1);
               
            }

            &::before{
                top: -1rem;
                height: 1.9px;
            }

            &::after{
                top: 1rem;
                height: 1.9px;
            }
        }
    }

    
}